<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Jello.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JelloCompiler.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>JelloCompilerStatic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>JelloCompilerTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC9BBFB12AEFDE3D00FC068C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC9BBFC52AEFDE3E00FC068C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC9BBFCF2AEFDE3E00FC068C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCDA242A2B2207BF002DCFCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCDA24462B233A8E002DCFCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
